{% extends "Recetas/base.html" %}
{%load static%}

{% block contenido %}

	<link rel="stylesheet" type="text/css" href="{% static '/Recetas/Estilos/Estilo_Administracion.css' %}">

            <div class="banner">
				<img src="{% static '/Recetas/Imagenes/Banner_Madera.png' %}">
			</div>
		<h1>Adminstracion de Recetas</h1>
		<br>	

	
		<main>
			<div class="contenedor_pestañas">
				<ul class="pestañas">
					<li><a href="#agregar">Agregar Receta</a></li>
					<li><a href="#modificar">Modificar Receta</a></li>
					<li><a href="#">Eliminar Receta</a></li>

				</ul>
			</div>
		
		
			
		</main>
		
		{% endblock %}