{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>El Gourmet Chileno</title>
	<link rel="icon" type="image/png" href="{% static '/Recetas/Imagenes/El_Gourtmet_Chileno.png' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static '/Recetas/Estilos/Estilo_Pagina_Web.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap" rel="stylesheet">  
</head>


	<header>
		<div class="contenedor-imagen-menu">
			
			<img class="logotipo" src="{% static '/Recetas/Imagenes/El_Gourtmet_Chileno.png' %}">
			{% if user.is_authenticated %}
			<div class="credenciales">
				<a href="#">Usuario: {{ user.username }}</a>
				<br>
				<a href="{% url 'logout' %}">Cerrar sesion</a>
			</div>
		{% endif %}
		</div>
			<nav class="navegacion">
                <ul class="menu">
                	<li class="img0"><img src="{% static '/Recetas/Imagenes/Iconos/Home.png' %}"><a href="{% url 'home'%}">Inicio</a></li>
                    <li class="img1"><img src="{% static '/Recetas/Imagenes/Iconos/User.png' %}"><a href="{% url 'login'%}">Login</a></li>
                    <li class="img2"><img src="{% static '/Recetas/Imagenes/Iconos/Food.png' %}"><a href="{% url 'recetas'%}">Recetas</a>
                        <ul class="submenu">
                            <li><a href="{% url 'entradas'%}">Entradas</a></li>
                            <li><a href="{% url 'fondo'%}">Fondo</a></li>
                            <li><a href="{% url 'postres'%}">Postres</a></li>
                        </ul>
                    
					</li>
					{% if user.is_authenticated %}
					<li class="img3"><img src="{% static '/Recetas/Imagenes/Iconos/Receta_Admin.png' %}"><a href="{% url 'administracion'%}">Administracion</a></li>
					
					{% endif %}
					<li class="img4"><img src="{% static '/Recetas/Imagenes/Iconos/About.png' %}"><a href="{% url 'acerca'%}">Acerca de</a></li>
					

					
                </ul>
			</nav>
			
		<br>
	</header>

<div id="contenido">
	{% block contenido %}

	{% endblock %}
</div>

<footer>
    <div class="Imagen-Articulo1">
        <img src="{% static '/Recetas/Imagenes/Logo definitivo.png' %}">
    </div>
    <article class="acticulo-footer">
        <p>El Gourmet Chileno es un Blog informativo, que entrega variadas recetas de nuestro querido país.<br>
            Aquí podras informarte y comentar nuestras recetas, tambien nos puedes enviar un correo electronico contadonos tus experiencias con alguna recetas que hayas probado en algun lugar de chile y la cual quieras compartir.<br>Las cuales seran publicadas en nuestro blog con tu nombre y lugar visitado.
            Estamos orientado al buen gusto en la cocina y a la entrega de informacion de nuestros mejores platos.
        </p>
        
    </article>
</footer>	
</html>


