{% extends "Recetas/base.html" %}
{%load static%}

{% block contenido %}
	<link rel="stylesheet" type="text/css" href="{% static '/Recetas/Estilos/formulario.css' %}">

        <br>
        <div class="banner">
            <img src="{% static '/Recetas/Imagenes/Banner_Madera.png' %}">
        </div>
        <h1>Registrate y disfruta<br> de <br>nuestras recetas</h1>
        <br>    
        
<body>
    

    <div class="login-box">
        <img class="avatar" src="{% static '/Recetas/Imagenes/Iconos/Login.png' %}"><br>
        <h2>Crear Cuenta</h2>

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
            <input class="limpiar" type="reset" value="Limpiar">
			<input class="limpiar" type="submit" value="Guardar">

                
                
        </form>
       
        <br>
        <br>
        <br>
    </div>
    <script src="../JS/app.js"></script>
</body>
{% endblock %}