{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>El Gourmet Chileno</title>
	<link rel="icon" type="image/png" href="{% static '/Recetas/Imagenes/El_Gourtmet_Chileno.png' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static '/Recetas/Estilos/Estilo_Pagina_Web.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap" rel="stylesheet">  

</head>
<body>
	<header>
		<div class="contenedor-imagen-menu">
			
			<img class="logotipo" src="{% static '/Recetas/Imagenes/El_Gourtmet_Chileno.png' %}">
		</div>
			<nav class="navegacion">
                <ul class="menu">
                	<li class="img0"><img src="{% static '/Recetas/Imagenes/Iconos/Home.png' %}"><a href="{% url 'home'%}">Inicio</a></li>
                    <li class="img1"><img src="{% static '/Recetas/Imagenes/Iconos/User.png' %}"><a href="{% url 'login'%}">Login</a></li>
                    <li class="img2"><img src="{% static '/Recetas/Imagenes/Iconos/Food.png' %}"><a href="{% url 'recetas'%}">Recetas</a>
                        <ul class="submenu">
                            <li><a href="{% url 'entradas'%}">Entradas</a></li>
                            <li><a href="{% url 'fondo'%}">Fondo</a></li>
                            <li><a href="{% url 'postres'%}">Postres</a></li>
                        </ul>
                    
					</li>
					{% if user.is_authenticated %}
					<li class="img3"><img src="{% static '/Recetas/Imagenes/Iconos/Receta_Admin.png' %}"><a href="{% url 'administracion'%}">Administracion</a></li>
					{% endif %}
					<li class="img4"><img src="{% static '/Recetas/Imagenes/Iconos/About.png' %}"><a href="{% url 'acerca'%}">Acerca de</a></li>
					

					{% if user.is_authenticated %}
						<li id="nombre_usuario" >
							<a href="#">Usuario: {{ user.username }}</a>
						</li>
						<li>
							<a href="{% url 'logout' %}">Cerrar sesion</a>
						</li>
					{% endif %}
                </ul>
            </nav>

		<br>
		<div class="banner">
			<img src="{% static '/Recetas/Imagenes/Banner_Madera.png' %}">
		</div>
		<h1>Conoce las recetas <br>de<br>nuestro País</h1>
		<br> 	
		
	</header>
	<main>
		<section class="Chile">
			<section class="Articulo1">
				<h2> San Pedro de Atacama</h2>

				<h3>Jean Pierre Brito<br>01 de Diciembre 2020</h3>
				<div class="Imagen-Articulo1">
					<img src="{% static '/Recetas/Imagenes/Regiones/Atacama.jpg' %}">
				</div>
				<article>
					<p>La gran variedad de platillos que ofrece Santiago de Chile deriva de la fusión de diversas tradiciones culinarias, tanto de los hábitos alimenticios indígenas con productos como el choclo (elote o maíz), la papa, el zapallo (especie de calabaza), el ají (chile) y los frijoles o porotos, como de la herencia gastronómica española con la carne de cerdo, pollo, trigo y res.
					</p>
				</article>
			</section>
			<section class="Articulo2">
				<h2> Santiago de Chile</h2>
				<h3> Claudio Vargas<br>15 de Febrero 2021 </h3>
				<div class="Imagen-Articulo2">
					<img src="{% static '/Recetas/Imagenes/Regiones/Santiago.jpg' %}">
				</div>
				
				<article>
					
					<p>Comida típica de San Pedro de Atacama, Chile.<br>En San Pedro de Atacama existe una amplia oferta gastronómica donde destacan ingredientes como carne de llama, pimientos picantes y algarrobo<br>En San Pedro de Atacama podrás probar la Patasca, un guisado picante preparado con maíz, cordero en trozos, vísceras de res, ají amarillo (pimiento), charqui (carne seca), papa, calabaza y condimentos.
					</p>
				</article>
			</section>
			<section class="Articulo3">
				<h2> Isla de Pascua</h2>
				<h3> Diego Benavides <br>22 de septiembre 2020</h3>
				<div class="Imagen-Articulo3">
					<img src="{% static '/Recetas/Imagenes/Regiones/Isla de Pascua.jpg' %}">
				</div>
				
				<article>
					
					<p>La comida tipica de Isla de Pascua está basada principalmente en productos marinos, como pescados entre los que destacan el atún, el mahi mahi, la sierra o el kana kana y mariscos como la langosta, los camarones y el rape rape, un tipo de langosta más pequeña y nativa de la isla.
					</p>
				</article>
			</section>
			<section class="Articulo4">
				<h2> Torres del Paine</h2>
				<h3> Matias Bermedo <br>18 de septiembre 2020 </h3>
				<div class="Imagen-Articulo4">
					<img src="{% static '/Recetas/Imagenes/Regiones/Torres del Paine.jpg' %}">
				</div>
				<article>
					<p>Típica comida chilena patagonica.<br>Diversidad de platos, de alta calidad, mariscos, pescados, corderos deliciosamente preparados y presentados. Acompañados de guarniciones diferentes, preparados con condimentos especiales. Excelente atención. Fogón de res y Cordero. Carta de vinos de alta calidad.
					</p>
				</article>
			</section>
		</section>
	</main>
</body>
<footer>
    <div class="Imagen-Articulo1">
        <img src="{% static '/Recetas/Imagenes/Logo definitivo.png' %}">
    </div>
    <article class="acticulo-footer">
        <p>El Gourmet Chileno es un Blog informativo, que entrega variadas recetas de nuestro querido país.<br>
            Aquí podras informarte y comentar nuestras recetas, tambien nos puedes enviar un correo electronico contadonos tus experiencias con alguna recetas que hayas probado en algun lugar de chile y la cual quieras compartir.<br>Las cuales seran publicadas en nuestro blog con tu nombre y lugar visitado.
            Estamos orientado al buen gusto en la cocina y a la entrega de informacion de nuestros mejores platos.
        </p>
        
    </article>
</footer>	
</html>


