@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@media screen and (max-width: 800px){
	body, main , section, article, p, h1,h2,img .contenedor-imagen-menu , .logotipo, .contenedor-menu,
	.navegacion, .navegacion ul li a , .submenu li a{
		width: 100%
		}
}


*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body
{
	background-color: rgba(0,0,0,1);
}

.contenedor-imagen-menu
{
	display: flex;
	height: 200px;
	width: 100%;
	/* background-size: cover; */
	background-image: url("../Imagenes/Comida_2.jpg");
}


.logotipo
{
	width: auto;
	height: 200px;
	display: block;
	margin: 0 auto;
	padding: 1% 1%;

}

.contenedor-menu
{
	background: #000000;
}

.navegacion
{
	height: 10%;
	width: auto;
	margin: 1% 2%;
	background: #000000; 
}

.navegacion ul
{
	list-style: none;

}

.menu > li
{
	position: relative;
	display: inline-block;
	color: #fff;
}

.menu > li > a
{
	display: block;
	padding: 5%;
	text-align: center;
	text-decoration: none;
	font-family: 'Ubuntu',sans-serif;
	color: #fff;
	font-size: 18px;
}

.menu li a:hover
{
	background: #4f2a1d;
}


.submenu
{
	position: absolute;
	background: #EBDEF0;
	height: auto;
	width: 130%;
	display: none;
	font-family: 'Ubuntu',sans-serif;
	font-size: 1vw;
}

.submenu li a
{
	display: block;
	padding: 10%;
	text-decoration: none;
	color: #fff;
	background: #000000;
}

.menu li:hover .submenu
{
	display: block;
}

.img0 img
{
	float: right;
	margin: 6px 20px;
}

.img1 img
{
	float: right;
	margin: 6px 20px;
}

.img2 img
{
	float: right;
	margin: 6px 30px;
}

.img3 img
{
	float: left;
	margin: 6px 45px;
}

.img4 img
{
	float: right;
	margin: 6px 40px;
}

h1
{
	display: flex;
	color: #fff;
	text-align: center;
	position: absolute;
	padding: 0%;
	margin: -18% 30%;
	left: 4%;
	text-decoration: none;
	font-family: 'Dancing Script', cursive;
	font-size: 4vw;
}


.banner
{
	display: flex;
	height: auto;
	width: auto;
	justify-content: space-around;
	background-size: cover;
	margin-top: -1%;
}

section
{
	display: block;
	position: relative;
	width: 80%;
	height: auto;
}

.formulario{
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0,2,3,1) 5%, rgba(44,48,48,1) 75%); 
}

div .banner2{
	display: block;
	position: absolute;
	width: 90%;
	height: 10%;
	padding: 1%;
	margin-top: 1%;
	margin-left: 5%;
	background: grey;
}

h2{
	color: white;
	font-family: 'Raleway',sans-serif;
	text-align: center;
	text-decoration: none;
	font-size: 2vw;
}

.panel label{
	display: block;
	color: #fff;
	font-family: 'Raleway',sans-serif;
	font-size: 1.3vw;
}


.tipoplato{
	padding: 4%;
	margin-left: 29%;
}

div.panel{
	display: block;
	position: absolute;
	width: 20%;
	height: 80%;
	margin-top: 6.9%;
	margin-left: 5%;
	background: rgb(153,127,110);
background: linear-gradient(180deg, rgba(153,127,110,0.87156869583771) 0%, rgba(91,68,53,0.5998600123643207) 49%, rgba(5,11,11,0.9584034297312675) 100%); 
}
.combobox{
	width: 70%;
	height:4%;
	text-align: center;
	margin-left: 17%;
	margin-top: -1%;

}

.subirimagen{
	margin-left: 2%;
	width: auto;
	height: auto;
}


.buscararchivo{
	margin-top: 2%;
	margin-left: 2%;
}

div .panel2{
	display: block;
	position: absolute;
	width: 69.6%;
	height: 80%;
	margin-top: 6.9%;
	margin-left: 25.4%;
	background: rgb(153,127,110);
background: linear-gradient(180deg, rgba(153,127,110,0.87156869583771) 0%, rgba(91,68,53,0.5998600123643207) 49%, rgba(5,11,11,0.9584034297312675) 100%);
}



.panel2 label{
	display: block;
	color: #fff;
	font-family: 'Raleway',sans-serif;
	font-size: 1.3vw;
}

.nombrereceta{
	padding: 1%;
	margin-left: 10%;
}

.ingredientes{
	padding: 1%;
	margin-left: 32%;
	margin-top: 5%;
}

.textareaingredientes{
	font-family: 'Raleway',sans-serif;
	font-size: 1vw;
	margin-left: 2%;
	margin-top: 1%;
}


.panel input[name="Subir Imagen"]{
	margin-top: 10%;
	margin-left: 5%;
}

.panel2 img{
	margin-top: 1%;
	margin-left: 8%;
	display: block;
	width: 30%;
	height: 30%;
}
.panel2 input[name="nombrereceta"]{
	font-family: 'Raleway',sans-serif;
	font-size: 1.2vw;
	margin-left: 2%;
	text-align: center;
	width: 36%;
}
.panel2 textarea{
	font-family: 'Raleway',sans-serif;
	font-size: 1.2vw;
}

.pasos{
	margin-left: 46%;
}

.preparacion{
	padding: 1%;
	margin-top: -44.3%;
	margin-left: 65%;
}

.panel2 input[name="Agregarreceta"]{
	width: 15%;
	height: 40px;
	margin-left: 82%;
	margin-top: 2%;
}

.pesta単as{
	width: 40%;
	height: auto;
	margin-left: 5%;
	background-color: black;
	list-style:  none;
	display: flex;
}
.pesta単as  li {
	width: 50%;
	display: inline-block;
}

.pesta単as li a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 1.1vw;
	text-align:  center;
	padding: 15px;
	font-family: 'Raleway',sans-serif;
}
.pesta単as li a:hover{
	background-color: orange;
}
@media screen and (max-width: 400px)
{
	.img0 img
	{
		display: none;
	}
	.img01 img
	{
		display: none;
	}
	.img2 img
	{
		display: none;
	}
	.img3 img
	{
		display: none;
	}
	.img4 img
	{
		display: none;
	}

}

main {
	height: 1200px;
}

footer{
	margin-top: 5%;
}

.Imagen-Articulo1 img{
	display: block;
	position: relative;
	height: 15%;
	width: 15%;
	left: 1%;
	padding:auto;
	margin: auto;
}

.acticulo-footer p{
    padding: 10px;
    background-position: bottom;
	text-align: center;
	display: block;
	text-decoration: none;
	font-family: 'Ubuntu',sans-serif;
	font-size: 16px;
	color: #fff;
}

footer article{
	padding: 10px;
}