*{
    font-size: 101%;
}

div{
	
	color: white;
}

#tabla{

    margin-top: 2%;
    margin-left: 5%;
    width: 70%;
	color: white;
    text-align: center;
    border :2px solid green;
    background: linear-gradient(to right, #0f0c29, #100a57, #24243e);
    
}

#buscar{
    margin-left: 5%;
}
a{
	color:green;
}


th{
    color:#FAEB64;
    background: linear-gradient(to right, #0f0c29, #100a57, #24243e);
}

td{
    background: linear-gradient(to right, #0f0c29, #100a57, #24243e);
}

#boton_accion{
    color: white;
    background: linear-gradient(to right, #0f0c29, #100a57, #24243e);
}


